<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zach.ad340_mainapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomePage"
            android:label="@string/home_page_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayMessageActivity"
            android:label="@string/home_page_title"
            android:parentActivityName=".HomePage" />
        <activity
            android:name=".MovieList"
            android:label="@string/title_movie_list"
            android:parentActivityName=".HomePage"
            />
        <activity
            android:name=".MovieDetail"
            android:label="@string/title_activity_movie_detail"
            android:parentActivityName=".MovieList">
        </activity>
    </application>

</manifest>